@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-inter: var(--font-inter);
  --color-background-muted: #535353;
  --color-background-hover: #EDEDED;
  --color-text-main: #121212;
  --color-accent: #796F1D;
  --color-accent-hover: #9C8F23;
}
/*  */
@layer base {
  html {
    scroll-behavior: smooth;
  }

  a, span {
    @apply
    text-sm
    font-semibold
    text-background-muted
  hover:text-text-main
    whitespace-nowrap
    }

  h1 {
    @apply
    text-pretty
    text-text-main
    uppercase text-[clamp(var(--text-2xl),5vw,var(--text-6xl))] 
    font-bold
    leading-none
  }

  h2 {
    @apply
    text-pretty
    text-text-main
    mt-2
    uppercase
    text-[clamp(var(--text-base),2vw,var(--text-3xl))]
    font-bold
    leading-none
  }

  h3, h4 {
    @apply
    text-pretty
    text-text-main
    mt-2
    uppercase
    text-sm
    font-bold
    leading-none
  }

  p {
    @apply
    text-background-muted
    leading-relaxed
    text-pretty
    text-sm
  }

  label {
    @apply
    leading-relaxed
    text-sm
    font-semibold
  }

  /*  */

  input, textarea, select, option {
    @apply
    w-full
    text-sm
    bg-white
    /* placeholder:text-text-main */
    px-3
    py-2
    /* text-text-sub */
    rounded-md
    border
    border-gray-200
    focus:border-text-main
    focus:ring-[0.5px]
    focus:ring-text-main
    focus:outline-none
    transition-all
    duration-150
  }
}

body {
  background: var(--background);
  font-family: var(--font-inter);
  color: var(--color-text-main);
}
